body {
    font-family: Verdana;
    color: green;
    background-color: lightblue;
    text-align: center;
}

#header {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#footer {
    display: flex;
    justify-content: center;
}

#footText {
    position: absolute;
    font-size: 0.8em;
    bottom: 0.5em;
}

.infoScore {
    font-size: 1.5em;
    font-weight: bold;
}

.idBox {
    display: flex;
    justify-content: center;
}

.infoBox {
    position: absolute;
    display: block;
    width: 200px;
    height: 150px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgreen;
    color: green;
    top: 20%;
    transition: transform 1s;
}

#winBox {
    transform: translate(0, -3000px);
}

#newGame {
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
    color: green;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: limegreen;
}

#newGame:hover {
    opacity: 0.6;
}

#gameSettings {
    transform: translate(0, 0);
}

#errorBox {
    transform: translate(0, -3000px);
}

